/* Custom Text Selection Color */
::-moz-selection {
    color: #fff;
    background: #34d1b1;
}
::selection {
    color: #fff;
    background: #34d1b1;
}


/* Custom Scroll */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0); 
    border-radius: 25px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: hidden;
}

/* Navbar */
nav.navbar {
    box-shadow: 0 4px 8px 0 rgba(0,209,178, 0.05), 0 6px 20px 0 rgba(0,209,178, 0.005);
}
.navbar-brand a.navbar-item {
    font-family: 'Pacifico', cursive;
    color: #00d1b2;
    font-size: 1.2rem;
}
.navbar-burger {
    background: #F2F2F2;
}
#nav-user-icon img{
    width: 2rem;
    margin: 0.45rem;
    border-radius: 50%;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1), 0 5px 10px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

nav progress#loading-page {
    display: none;
    position: absolute;
    bottom: 0;
    border-radius: 0 !important;
    height: .2rem !important;
    box-shadow: 0 4px 6px 0 rgba(52,209,177,0.2), 0 6px 10px 0 rgba(52,209,177,0.2);
}
nav progress#loading-page:indeterminate{
    background-color: #fff;
    background-image: linear-gradient(to right,#00d1b2 30%,#fff 30%);
}
/* Navbar */

/* Site Wide */
.columns {
    margin: -.75rem 0;
}

.card-form{
    width: 35rem; 
    margin: auto;
}

.table {
    margin: auto;
}

.notification {
    position: fixed;
    top: 5rem;
    left: 2rem;
}

.notification.is-danger {
    background: #ff3860aa;
}

.card-loader {
    height: .2rem;
}
.card-loader .progress {
    border-radius: 0;
    height: .2rem;
    display: none;
    box-shadow: 0 4px 8px 4px rgba(0,209,178, 0.1), 0 6px 20px 1px rgba(0,209,178, 0.1)
}
.card-loader .progress:indeterminate{
    background-color: #fff;
}
.card-loader .progress.is-primary:indeterminate {
    background-image: linear-gradient(to right,#00d1b2 30%,#fff 30%);
}
.card-loader .loading {
    display: block;
}

.card-question {
    margin: 1rem;
}
/* Site Wide */

/* User Sidebar */
.sidebar {
    height: 38.2em;
    background: #fff;
    color: #424242;
    text-align: center;
    box-shadow: 4px 0px 6px 0 rgba(0,0,0,0.1), 10px 0px 20px 0 rgba(0,0,0,0.1);
    z-index: 10;
}
#sidebar-close {
    float: right;
    font-size: 2rem;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    color: rgba(0,0,0,0.1);
    cursor: pointer;
}
.sidebar-header-img img {
    width: 12rem;
    border-radius: 50%;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1), 0 10px 20px 0 rgba(0,0,0,0.2); 
}
.sidebar-header-info-name {
    font-size: 1.5rem;
}
.sidebar-header-info-status .tag {
    background: rgba(0,0,0,0.2);
    color: #424242;
    border-radius: 25px;
}
.sidebar-menu-item {
    width: 10rem;
    margin: 1rem auto;
    padding: 0.2rem 1rem;
    font-size: 1.6rem;
    text-align: left;
    border-radius: 50px;
    cursor: pointer;
}
.sidebar-menu-item:hover {
    background: rgba(0,0,0,0.1);
}
.sidebar-menu-item.active {
    color: #00d1b2;
}


@media(max-width: 768px) {
    #user-sidebar {
        height: 17rem;
    }
    .sidebar-header {
        float: left;
        margin: 0 2rem;
    }
    #sidebar-close {
        float: left;
        margin-left: -1rem;
        margin-top: 0.5rem;
    }
    .sidebar-header-img img {
        width: 8rem;
        border-radius: 50%;
        box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1), 0 10px 20px 0 rgba(0,0,0,0.2);
    }
    .sidebar-menu {
        float: left;
    }

}
/* User Sidebar */

/* User Dashboard */
#user-dashboard {
    margin: 0;
}
#sidebar {
    z-index: 2;
}
#user-dashboard-partial {
    height: 38.2em;
    overflow-y: auto;
    z-index: 1;
    scroll-behavior: smooth;
}

/* Exams Tab */
.card-owl {
    height: 20rem;
    border-radius: 15px;
    background: #fff;
    color: #212121;
    font-size: 5rem;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1), 0 10px 20px 0 rgba(0,0,0,0.2);
}
.card-owl img {
    height: 100%;
    border-radius: 15px;
}
.owl-stage-outer {
    padding: 2rem 0;
}
.exams {
    padding: 2rem 0;
}
.exams-grid {
    padding: 3rem;
}
.exam-box{
    margin: 0.5rem;
    padding: 0;
    border-radius: 15px;
    color: #fff;
    font-size: 5rem;
    text-align: center;
}
.exam-box img {
    width: 100%;
    border-radius: 15px;
}
/* Exams Tab */

/* Exam Pack  */
#exam-pack-hero {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(0,0,0, 0.6)), url('img/slide1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#exam-provider-box {
    display: flex;
    padding: 1rem;
}
#exam-pack-provider-info {
    margin: 1rem;
}
#exam-pack-provider-name h2 {
    font-weight: bold;
    font-size: 1.5rem;
}
#exam-pack-tags {
    margin: 0.5rem 0;
}
#exam-pack-tags .tag {
    border-radius: 15px;
}
#exam-pack-provider-image {
    background: #fff;
    border: .3rem solid #34d1b1;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin: 1rem;
}

#exam-pack-info td, #exam-pack-info th {
    border: none;
    padding: 0 .75rem;
    font-weight: 500;
}
#exam-pack-info th {
    font-weight: 200;
}

#exam-pack-details {
    margin-top: 3rem;
}
#exam-pack-details-text {
    font-size: .8rem;
    height: 6rem;
    display: block;
    overflow: hidden;
    -webkit-mask: linear-gradient(0deg, transparent, white);
}
#expand {
    color: #34d1b1;
    font-weight: 500;
    float: right;
}

#exam-pack-sale {
    text-align: center;
}
#exam-pack-meta {
    margin: 1rem;
    padding: .3rem;
    text-align: center;
}
#exam-pack-meta .icon {
    margin: .4rem;
    font-size: 1.2rem;
    color: #34d1b1;
}
#exam-pack-buy-button {
    width: 80%;
    font-size: 1.5rem;
    background: #34d1b1;
    color: #fff;
    box-shadow: 0 4px 6px 0 rgba(52,209,177, .2), 0 14px 20px rgba(52,209,177, .2);
    border: 0;
}

#exam-pack-reviews-stats-stars{
    text-align: right;
}
#exam-pack-reviews-stats-average {
    float: left;
    text-align: left;
    clear: both;
    width: 100%;
    margin-bottom: -1rem;
}
#exam-pack-reviews-stats-average-number {
    font-size: 4rem;
    font-weight: 600;
}
#exam-pack-reviews-stats-average-total {
    font-size: 1rem;
    font-weight: 600;
}
#exam-pack-reviews-stats-stars .stars .svg-inline--fa {
    font-size: 0.5rem;
}
#exam-pack-reviews-stats-stars .fas.fa-star {
    color: orange;
}
#exam-pack-reviews-stats-stars .far.fa-star {
    color: #848484;
}
#exam-pack-reviews-stats-stars .stars{
    margin-top: -.2rem;
}
#exam-pack-reviews-stats-stars progress{
    text-align: -webkit-right;
    margin-top: -.2rem;
    height: .3rem;
}
#exam-pack-reviews-stats-stars .icon.is-small {
    height: .5rem;
    width: .5rem;
}
.transparent-card-button {
    background: rgba(255, 255, 255, 0);
    border: none;
    color: #34d1b1;
    font-weight: 700;
    font-size: .8rem;
    margin: .2rem -1rem .2rem .2rem;
    float: right;
    padding: 0rem .2rem;
}
.transparent-card-button.is-focused:not(:active), .transparent-card-button:focus:not(:active) {
    box-shadow: none;
}

.review-card.card {
    width: 20rem;
    float: right;
    background: #f8fafb;
    border-radius: 4px;
    box-shadow: none;
    margin: 1rem;
}
.review-card .card-header {
    box-shadow: none;
}
.review-card .card-header-title {
    font-size: 1.3rem;
    font-weight: 400;
}
.review-card .card-content {
    padding: 0 1.5rem 1rem 1.5rem;
}
.review-card label {
    margin: .5rem 0;
    font-weight: 500;
}
.review-card input[type=text] {
    background: #e3e9ed;
    border: none;
    height: 4rem;
    box-shadow: none;
}
.review-card input[type=submit] {
    width: 100%;
    font-weight: 100;
    background: #00d1b2;
}
.review-card input[type=submit]:hover {
    background: rgba(0,209,178, .8);
}
.review-card #rating-stars {
    line-height: 2.7rem;
}

.review-card.student-review.card {
    float: left;
    width: 18rem;
}
/* Exam Pack  */